{% set ns = namespace(first=true) %}
{% macro parameter(p) %}
{%   if ns.first %}
{%     set ns.first = false %}
{%   else %}
{{     " " }}
{%-  endif %}
{{ p }}
{%- endmacro -%}

# Option flags used to start dhcp-helper.
#
# You will need at least "-s <DHCP server>" or
# "-b <interface> so that dhcp-helper knows where
# to relay DHCP requests.
#
# See "man 8 dhcp-helper" for more details.

DHCPHELPER_OPTS="
{%- if servers is defined -%}
{%-    for server in servers -%}
{{       parameter("-s " ~ server) }}
{%-   endfor %}
{%- endif -%}

{%- if broadcast_interfaces is defined %}
{%-   for interface in broadcast_interfaces -%}
{{      parameter("-b " ~ interface) }}
{%-   endfor -%}
{%- endif -%}

{%- if listen_interfaces is defined %}
{%-   for interface in listen_interfaces -%}
{{      parameter("-i " ~ interface) }}
{%-   endfor -%}
{%- endif -%}

{%- if exclude_interfaces is defined %}
{%-   for interface in exclude_interfaces -%}
{{      parameter("-e " ~ interface) }}
{%-   endfor -%}
{%- endif -%}

{%- if alternative_ports is defined and alternative_ports -%}
  {{ parameter("-p") }}
{%- endif -%}

{%- if pidfile is defined -%}
  {{ parameter("-r " ~ pidfile) }}
{%- endif -%}

{%- if user is defined -%}
  {{ parameter("-u " ~ user) }}
{%- endif -%}
"
